<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://xiu-mac.local:20343/api/assets/15f8222f68c49a354830157611025ba1-车智汇-5.1.0/2/iAuto360.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.yamei.iauto</string>
				<key>bundle-version</key>
				<string>5.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>车智汇</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
